
<form action="/api/addProduct" method="post">
<div class="mb-3">
  <label for="formGroupExampleInput" class="form-label">Tittle</label>
  <input type="text" class="form-control" name="formTittle" placeholder="Insert product tittle">
</div>
<div class="mb-3">
  <label for="formGroupExampleInput2" class="form-label">Price</label>
  <input type="text" class="form-control" name="formPrice" placeholder="Insert product price">
</div>
<div class="mb-3">
  <label for="formGroupExampleInput2" class="form-label">Image Link</label>
  <input type="text" class="form-control" name="formImgLink" placeholder="Insert img link">
</div>
<input type="submit" value = "Add">
</form>

<a href="/">Go to Main</a>